<%--
  Created by IntelliJ IDEA.
  User: rojae
  Date: 2021/01/28
  Time: 11:10 오후
  To change this template use File | Settings | File Templates.
--%>



<!DOCTYPE html>
<html>
<head>
    <title>R.LOG</title>
</head>
<body>
<p><a href='/main'>메인 페이지로 돌아가기</a></p>

<h1>카테고리 출력 테스트</h1>

        <!-- 1 Depth -->
        <th:block th:each="item" items="${categories.subCategories}" varStatus="status">

            <span th:text="${item.categoryName}"></span>

                <!-- 2 Depth -->
                <div th:if=${!empty item.subCategories}">
                    <th:block th:each="subItem" items="${item.subCategories}" varStatus="status">

                        <br/>
                        <span th:text="----${subItem.categoryName}"></span>

                            <!-- 3 Depth -->
                            <div th:if=${!empty subItem.subCategories}">
                                <th:block th:each="last" items="${subItem.subCategories}" varStatus="status">
                                    <br/>
                                    <span th:text="--------${last.categoryName}"></span>
                                </th:block>

                            </div>

                        </th:block>
                     </div>

            <br/>
        </th:block>

</body>
</html>
